<!DOCTYPE html>
<html ng-app="huenote">
    <head>
        <title>HueNote</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//getbootstrap.com/dist/css/bootstrap.min.css" />
        <!-- link rel="stylesheet" href="/cdn/css/main.css" / -->
    </head>
    <body style="padding:70px 0;" ng-controller="app.controller">

        <div style="background:{{model.hue}}; opacity:{{model.sat}}; position:absolute; top:0; right:0; bottom:0; left:0; z-index:-1;">
        </div>

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role-"navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" title="HueNote">HueNote</a>
                </div>
            </div>
        </nav>

        <div class="container" style="position:relative;">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form>
                        <div class="form-group">
                            <label for="hz">Frequency</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="model.tone.toggle()"><span class="glyphicon" ng-class="{'glyphicon-play':model.tone.paused, 'glyphicon-pause':!model.tone.paused}"></span></button>
                                </span>
                                <input type="number" class="form-control" disabled="disabled" ng-model="model.frequency">
                                <span class="input-group-addon">Hz</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-offset-3">
                    <span class="label label-default">-4</span>
                </div>
                <div class="col-xs-4">
                    <form>
                        <div class="form-group">
                            <input type="range" min="-4" max="4" ng-model="model.multiplier" style="width:100%;">
                            
                        </div>
                    </form>
                </div>
                <div class="col-xs-1">
                    <span class="label label-default">+4</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-group btn-group-justified" ng-repeat="set in key">
                        <a role="button" class="btn btn-default btn-lg" ng-click="setChannel(tone.freq)" ng-repeat="tone in set">{{tone.note}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="lead">PlayTest</p>
                    <div class="btn-group btn-group-justified">
                        <a role="button" class="btn btn-default btn-lg" ng-click="playTest('octaves')">Octaves</a>
                        <a role="button" class="btn btn-default btn-lg" ng-click="playTest('softkitty')">&quot;Soft Kitty&quot;</a>
                        <a role="button" class="btn btn-default btn-lg" ng-click="playTest('jazz')">Jazz</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <!-- script src="//cdnjs.cloudflare.com/ajax/libs/dancer.js/0.3.1/dancer.js"></script -->
        <script src="script.js"></script>

    </body>
</html>